!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title Profy
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'partials/header'
    .container
      .col-lg-12
        = yield